*.pyc
*.pyo
*.so
*.o
*.png
*.tar.gz
*.a
*.mod
*.dat
*.dat_up
*.dat_down
*~
*.swp
*.egg-info
.coverage*
!.coveragerc
dist/
build/
postqe/pyqe.py
postqe/_pyqe*
postqe/fortran/*
!postqe/fortran/kind_map
!postqe/fortran/Makefile
pqenv/
.idea/
.tox/
doc/_*/
__pycache__/
localfiles/
