*.pyc
*.pyo
*.so
*.o
*.png
*.tar.gz
*.a
*.mod
*.dat
*.dat_up
*.dat_down
*~
*.swp
*.egg-info
.coverage*
!.coveragerc
dist/
build/
.idea/
.tox/
doc/_*
postqe/__pycache__/
tests/__pycache__/
localfiles/
