*.pyc
*.pyo
*.so
*.o
*.png
*.tar.gz
*.a
*.mod
*.dat
*.dat_up
*.dat_down
*~
*.swp
*.egg-info
.coverage*
!.coveragerc
dist/
build/
postqe/wrappers/*
!postqe/wrappers/kind_map
pqenv/
.idea/
.tox/
doc/_*/
__pycache__/
localfiles/
