include LICENSE
include MANIFEST.in
include README.rst
include setup.py
include setup.cfg
include requirements.txt
include tox.ini
include doc/*
include postqe/*.py
include postqe/pyqe*.so
include postqe/f90utils*.so
include postqe/fortran/*.f90
recursive-include tests *
recursive-include examples *

global-exclude *.py[cod]
