include MANIFEST.in
include LICENSE
include README.rst
include postqe *.py
include postqe/ase *.py
include postqe *.so
include postqe/fortran *.f90
recursive-include tests *
recursive-include examples *
